@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
	background-image: url("../images/palms.jpeg");
	background-size: 100%;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
}

* {
    box-sizing: border-box;
}

.row:before, 
.row:after {
	content:"";
	display: table ;
	clear: both;
 }
 [class*='col-'] {
	float: left;
	min-height: 1px;
}

#navbar {
	width: 100%;
	height: 75px;
	top: 0px;
	position: absolute;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	font-family: 'Josefin Sans', sans-serif;
}
#navbar h1 {
	color: white;
	float: left;
	margin: 17px;
}

#menu li {
	display:inline-block;
	margin: 10px;
}
#menu li a {
	text-decoration:none;
	color: white;
	padding: 9px 18px;
	font-size: 20px;
}
#menu li a:hover{
	color: #FFCC33;
}
#menu {
	float: right;
}

.section:nth-of-type(1) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(192, 192, 192, 0.4));
}
.section:nth-of-type(2) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(192, 192, 192, 0.4));
}
.section:nth-of-type(3) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(192, 192, 192, 0.4));
}
.section:nth-of-type(4) {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(192, 192, 192, 0.4));
}

.section:nth-of-type(1) .row img {
	border: 10px solid white;
	border-radius: 50%;
	margin-top: 80px;
}
.section:nth-of-type(1) .row h1 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	margin-left: 15px;
}
.section:nth-of-type(1) .row a {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	margin-left: 15px;
	text-decoration: none;
}
.section:nth-of-type(1) .row a:hover {
	color: #FFCC33;
}
.section:nth-of-type(1) .row p {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	margin-left: 15px;
}
.section:nth-of-type(1) .row .col-8 {
	margin-top: 80px;
}
.section:nth-of-type(2) .technologie > h1 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 60px;
	text-align: center;
}
.section:nth-of-type(2) .technologie > h2 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 60px;
	text-align: center;
	margin-bottom: 15px;
}
.section:nth-of-type(2) .technologie > img {
	margin: 10px 25px;
	width: 75px;
}
.section:nth-of-type(2) .technologie {
	text-align: center;
}
.section:nth-of-type(2) .technologie > .col-3 {
	text-align: center;
}
.section:nth-of-type(2) .technologie > .col-3 > p {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
}
.section:nth-of-type(3) .slide h1 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 60px;
	text-align: center;
	margin-bottom: 15px;
}
.section:nth-of-type(3) .slide p {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-top: 10px;
}
.section:nth-of-type(3) .slide .container img {
	display: block;
	margin: 0 auto;
}
.section:nth-of-type(3) .container {
	text-align: center;
}
.section:nth-of-type(4) .kontakt > .row > .col-12 > h1 {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 60px;
	text-align: center;
}
.section:nth-of-type(4) .kontakt > .row > .col-6 > ul li {
	color: white;
	list-style-type: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
}
.section:nth-of-type(4) .kontakt > .row > .col-6 > ul> li > a {
	text-decoration: none;
	color: white;
}
.section:nth-of-type(4) .kontakt > .row > .col-6 > ul li a:hover {
	color: #FFCC33;
}
.footer {
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	height: 30px;
	bottom: 0px;
}
.footer p {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}